c3/local-msp/crypto-config/*
c3/openssl-pki/artifact/*
c3/channel-network/crypoto-config/*

c3/channel-msp/artifact/*
c3/channel-msp/network/crypto-config/*
c3/channel-msp/network/data/*
c3/channel-msp/network/log/*

c3/channel-policy/artifact/*
c3/channel-policy/network/crypto-config/*
c3/channel-policy/network/data/*
c3/channel-policy/network/log/*

c4/system-channel-config/artifact/*
c4/system-channel-config/crypto-config/*
c4/system-channel-config/data/*

c4/standard-channel-config/artifact/*
c4/standard-channel-config/crypto-config/*
c4/standard-channel-config/data/*

c4/view-config-group/artifact/*
c4/view-config-group/network/crypto-config/*
c4/view-config-group/network/data/*
c4/view-config-group/network/log/*

c4/view-config-update/artifact/*
c4/view-config-update/network/crypto-config/*

c4/config-update-value/network/artifact/*
c4/config-update-value/network/crypto-config/*
c4/config-update-value/network/data/*
c4/config-update-value/network/log/*

c4/config-update-value/artifact/*
c4/config-update-value/chaincode/.gradle/*
c4/config-update-value/chaincode/build/*
