c2/local-msp/msp/*
c2/mini-ca/artifact/*
c2/solo-network/genesis.block
c2/solo-network/data/*
c2/solo-network/msp/*
c2/solo-network/artifact/*

c2/counter-cc/.gradle/*
c2/counter-cc/build/*
c2/counter-dapp/.gradle/*
c2/counter-dapp/build/*

c2/wiz-demo/application/.gradle/*
c2/wiz-demo/chaincode/.gradle/*
c2/wiz-demo/chaincode/build/*
c2/wiz-demo/network/artifact/*
c2/wiz-demo/network/crypto-config/*
c2/wiz-demo/network/data/*
c2/wiz-demo/network/log/*


c3/local-msp/crypto-config/*
c3/openssl-pki/artifact/*
c3/channel-network/crypoto-config/*

c3/channel-msp/artifact/*
c3/channel-msp/network/crypto-config/*
c3/channel-msp/network/data/*
c3/channel-msp/network/log/*

c3/channel-policy/artifact/*
c3/channel-policy/network/crypto-config/*
c3/channel-policy/network/data/*
c3/channel-policy/network/log/*

c4/system-channel-config/artifact/*
c4/system-channel-config/crypto-config/*
c4/system-channel-config/data/*

c4/standard-channel-config/artifact/*
c4/standard-channel-config/crypto-config/*
c4/standard-channel-config/data/*

c4/view-config-group/artifact/*
c4/view-config-group/network/crypto-config/*
c4/view-config-group/network/data/*
c4/view-config-group/network/log/*

c4/view-config-update/artifact/*
c4/view-config-update/network/crypto-config/*

c4/config-update-value/network/artifact/*
c4/config-update-value/network/crypto-config/*
c4/config-update-value/network/data/*
c4/config-update-value/network/log/*

c4/config-update-value/artifact/*
c4/config-update-value/chaincode/.gradle/*
c4/config-update-value/chaincode/build/*

c5/history-tracking/chaincode/.gradle/*
c5/history-tracking/chaincode/build/*
c5/history-tracking/network/artifact/*
c5/history-tracking/network/crypto-config/*
c5/history-tracking/network/data/*
c5/history-tracking/network/log/*
c5/history-tracking/application/.gradle/*
c5/history-tracking/application/build/*

c5/composite-key/application/.gradle/*
c5/composite-key/application/build/*
c5/composite-key/chaincode/.gradle/*
c5/composite-key/chaincode/build/*
c5/composite-key/network/artifact/*
c5/composite-key/network/crypto-config/*
c5/composite-key/network/data/*
c5/composite-key/network/log/*

c5/event-service/application/.gradle/*
c5/event-service/application/build/*
c5/event-service/chaincode/.gradle/*
c5/event-service/chaincode/build/*
c5/event-service/network/artifact/*
c5/event-service/network/crypto-config/*
c5/event-service/network/data/*
c5/event-service/network/log/*

c5/connect-profile/application/.gradle/*
c5/connect-profile/application/build/*
c5/connect-profile/chaincode/.gradle/*
c5/connect-profile/chaincode/build/*
c5/connect-profile/network/artifact/*
c5/connect-profile/network/crypto-config/*
c5/connect-profile/network/data/*
c5/connect-profile/network/log/*
